<section>
    <div class="collection-products flex flex-wrap my-10 justify-center">
        {% for product in collection.products %}
            {% render 'product-card', product: product %}
        {% endfor %}
    </div>
</section>