<section class="section">
    <h1 class="store_heading">{{ section.settings.collection_title }}</h1>
    <div class="featured-collection-products flex py-10 flex-wrap justify-center">
        {% for product in section.settings.featured_collection.products %}
            {% render 'product-card' product:product %}
        {% endfor %}
    </div>
</section>

{% schema %}
{
    "name": "featured-collection",
    "settings": [
            {
                "type": "text",
                "id": "collection_title",
                "label": "Collection Title",
                "default": "Featured Collection"
            },
            {
                "type": "collection",
                "id": "featured_collection",
                "label": "Featured Collection"
            }
        ]
}
{% endschema %}