<section>
    <div></div>
    <div>
        {% comment %} <img src="" alt=""> {% endcomment %}
    </div>
    <div></div>
</section>

{% schema %}
{
    "name": "top-bar",
    "settings": [
        
        ]
}
{% endschema %}