<section class="section bg-[#e7e7e7] flex items-center justify-center my-10">
    <div class="trust-badge flex flex-col items-center mx-12 cursor-pointer">
        <i class="iconoir-delivery-truck text-[4rem] mb-3 badge-icon"></i>
        <p class="trust-badge-title text-center">Free Shipping</p>
    </div>
    <div class="trust-badge flex flex-col items-center mx-12 cursor-pointer">
        <i class="iconoir-money-square text-[4rem] mb-3 badge-icon"></i>
        <p class="trust-badge-title text-center">Affordable Pricing</p>
    </div>
    <div class="trust-badge flex flex-col items-center mx-12 cursor-pointer">
        <i class="iconoir-card-lock text-[4rem] mb-3 badge-icon"></i>
        <p class="trust-badge-title text-center">Secure Checkout</p>
    </div>
    <div class="trust-badge flex flex-col items-center mx-12 cursor-pointer">
        <i class="iconoir-badge-check text-[4rem] mb-3 badge-icon"></i>
        <p class="trust-badge-title text-center">Satisfaction Gurantee</p>
    </div>
</section>

{% schema %}
{
    "name": "trust-badges",
    "settings": [

        ]
}
{% endschema %}