@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Flex:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins', 'Montserrat', "Roboto Flex", 'sans-serif !important';
}

.category-item {
    font-family: 'Montserrat';
}

.badge-icon {
    transition: all .7s ease;
}

.trust-badge:hover .badge-icon {
    transform: rotateY(360deg);
}

section.section {
    padding: 2rem;
}

/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.best-seller-cards::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.best-seller-cards {
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
}


.poppins {
    font-family: 'Poppins';
}

.product-title {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word; /* Ensures proper breaking */
}
